// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
@import "assets/fonts";

$heading-font-family: 'Open Sans Condensed';
$body-font-family: 'Open Sans', sans-serif;

$headings: (
        'h1': (
                'font-family': 'MoontimeRegular',
                'size': 3.3125rem,
                'line-height': 1.15em
        ),
        'h2': (
                'font-family': 'Allura',
                'size': 3.25rem,
                'line-height': 1.5em
        ),
        'h3': (
                'size': 3rem,
                'weight': 700,
                'line-height': 3.125rem,
                'letter-spacing': normal,
                'font-family': $heading-font-family
        ),
        'h4': (
                'size': 2.3rem,
                'weight': 700,
                'line-height': 2.5rem,
                'letter-spacing': .0073529412em,
                'font-family': $heading-font-family
        ),
        'h5': (
                'size': 1.5rem,
                'weight': 700,
                'line-height': 2rem,
                'letter-spacing': normal,
                'font-family': $heading-font-family
        ),
        'h6': (
                'size': 1.25rem,
                'weight': 700,
                'line-height': 2rem,
                'letter-spacing': .0125em,
                'font-family': $heading-font-family
        ),
        'subtitle-1': (
                'size': 1rem,
                'weight': 400,
                'line-height': 1.75rem,
                'letter-spacing': .009375em,
                'font-family': $body-font-family
        ),
        'subtitle-2': (
                'size': .875rem,
                'weight': 500,
                'line-height': 1.375rem,
                'letter-spacing': .0071428571em,
                'font-family': $body-font-family
        ),
        'body-2': (
                'size': .875rem,
                'weight': 400,
                'letter-spacing': .0178571429em,
                'line-height': 1.25rem,
                'font-family': $body-font-family
        ),
        'body-1': (
                'size': 1rem,
                'weight': 400,
                'letter-spacing': .03125em,
                'line-height': 1.5rem,
                'font-family': $body-font-family
        ),
        'caption': (
                'size': .75rem,
                'weight': 400,
                'letter-spacing': .0333333333em,
                'line-height': 1.25rem,
                'font-family': $body-font-family
        ),
        'overline': (
                'size': .625rem,
                'weight': 400,
                'letter-spacing': .1666666667em,
                'line-height': 1rem,
                'font-family': $body-font-family
        )
);
h1 {
  font-family: MoontimeRegular, serif;
  font-size: 3rem;
  font-weight: normal;
  line-height: 1.15em;
}

h2 {
  font-family: Allura, serif;
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 1.5em
}

h3, h4, h5, h6 {
  font-family: $heading-font-family;
}

h3 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5em;
}

h4 {
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 1.5em
}

h5 {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5em
}

h6 {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.5em
}

@import '~vuetify/src/styles/styles.sass';
